.fc .fc-col-header-cell-cushion {
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 5px;
}

.fc .fc-timegrid-slot-label-cushion {
  font-size: 14px;
  font-weight: 500;
}

.fc .fc-timegrid-axis-cushion {
  font-size: 14px;
  font-weight: 500;
}

.fc .fc-event {
  border: none; /* Removes the border */
  box-shadow: none; /* Removes the shadow */
}

.fc .fc-day-today {
  background-color: #f5f5dc; /* Adjust the color */
}

.rdrInRange {
  background-color: #003366 !important;
}

.rdrStartEdge {
  background-color: #003366 !important;
}

.rdrEndEdge {
  background-color: #003366 !important;
}

.rdrDateDisplayItemActive {
  border-color: #003366;
}

.rdrDayToday {
  color: #003366;
}

.fc-event-main{
  background-color: #CEE6FF;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 2px solid #308cee;
  padding: 4px;
  border-radius: 10px;
  overflow-x: auto;
}

.fc-daygrid-event-harness{
  background-color: #CEE6FF;
  overflow: hidden;
}