.content-container {
  padding: 20px;
}

/* Bake button */

.back-to-chapter {
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;
  align-items: center;
  color: #003366;
  font-size: 14px;
  font-weight: 600px;
}

/* Topic Card */

.topic-card {
  min-width: 327px;
  margin-top: 15px;
  height: 409px;
  background: #e5f3ff;
  padding: 20px;
  border: 1px solid #00336680;
  border-radius: 16px;
  overflow-y: auto;
  transition: height 0.5s ease;
}

.shrink-card {
  height: 58px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.topic-name {
  display: flex;
  justify-content: space-between;
}

.card-name {
  background: #003366;
  width: 66px;
  height: 20px;
  padding: 3.67px 7.33px 3.67px 7.33px;
  gap: 9.17px;
  border-radius: 91.65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: DM Sans;
  font-size: 8px;
  font-weight: 600;
  line-height: 12px;
  text-align: left;
  color: white;
}

.card-content {
  padding: 20px;
}

/* Footer */

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 0.5px solid #003366;
  background: #e5f3ff;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 16%;
  transition: height 0.5s ease;
}

.expand-footer-container {
  height: 70%;
}

.footer {
  position: relative;
  width: 100%;
}

.footer-arrow-up {
  display: flex;
  margin-top: -28px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.arrow-btn {
  background-color: white;
  border: 2px solid #123e72;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.footer-input-and-send-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-bottom: 55px;
}

.footer-input-section {
  display: flex;
  align-items: center;
  border-radius: 1234px;
  border: 1px solid #cbd5e1;
  background-color: white;
  min-width: 341px;
  width: 90%;
  height: 48px;
  padding: 5px 10px;
  box-shadow: 0px 4px 8px -2px #1717171a;
}

.plus-btn {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  cursor: pointer;
}

.footer-input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.footer-input::placeholder {
  color: #999999;
}

.send-container {
  background: #003366;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 123px;
  border: 0.09px solid #ffffff;
  color: #ffffff;
  margin-left: 10px;
}

.chat-section-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

/* Chat Section */

.chat-section {
  flex-grow: 1;
  padding: 15px;
  border-radius: 10px;
  overflow-y: auto;
  margin-top: 10px;
}

.ai-chat-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 0.5px solid #ff6600;
  background: #fff3eb;
  box-shadow: 4px 4px 8px 0px #ff660029 inset;
  box-shadow: -4px -4px 8px 0px #ff660029 inset;
  padding: 16px;
  height: 141px;
  overflow-y: auto;
}

.ai-chat-avatar-with-icon {
  display: flex;
  justify-content: space-between;
}

.ai-chat-icon {
  display: flex;
  width: 45px;
  justify-content: space-between;
}

.ai-chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #999999;
}

.ai-chat-text {
  margin-top: 10px;
}

.user-chat-message {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 0.5px solid #003366;
  background: #ffffff;
  box-shadow: 4px 4px 8px 0px #00336629 inset;
  box-shadow: -4px -4px 8px 0px #00336629 inset;
  padding: 16px;
  height: 80px;
  overflow-y: auto;
}

.user-chat-avatar-with-icon {
  display: flex;
  justify-content: space-between;
}

.user-chat-icon {
  display: flex;
  width: 45px;
  justify-content: space-between;
}

.user-chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00336629;
}

.user-chat-text {
  margin-top: 10px;
}
