@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}

@layer utilities {
  .ring-theme-color-navy-blue {
    --tw-ring-color: #001f3f;
  }
}

.Darker-Grotesque {
  font-family: 'Darker Grotesque', serif;
}

/* width */

::-webkit-scrollbar {
  width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
  background-color: rgb(231, 224, 224);
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(173, 177, 178);
  border-radius: 10px;
}

/* AI Powered Text Styles */
.ai-powered {
  display: inline-block;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-align: center;
  background-color: #003366;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #ff6600 50%, #003366 50%);
  background-position: 100% 0;
  animation: slide-animation 8s infinite;
}
@keyframes slide-animation {
  0% {
    background-position: 100% 0;
  }
  10% {
    background-position: 0% 0;
  }
  45% {
    background-position: 0% 0;
  }
  55% {
    background-position: 100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes leftSideAnimationDesktop {
  0%,
  100% {
    transform: translateY(0) scale(0.9) rotate(0deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  40%,
  60% {
    transform: translateY(-350px) scale(0.7) rotate(12deg);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}

@keyframes rightSideAnimationDesktop {
  0%,
  100% {
    transform: translateY(0) scale(0.9) rotate(0deg);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  40%,
  60% {
    transform: translateY(350px) scale(0.7) rotate(12deg);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
}

@keyframes leftSideAnimationMobile {
  0%,
  100% {
    transform: translateX(0) scale(0.9) rotate(0deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  40%,
  60% {
    transform: translateX(150%) scale(0.7) rotate(12deg);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}

@keyframes rightSideAnimationMobile {
  0%,
  100% {
    transform: translateX(0) scale(0.9) rotate(0deg);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  40%,
  60% {
    transform: translateX(-150%) scale(0.7) rotate(12deg);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
}

@keyframes starsAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  40%,
  60% {
    transform: scale(0.8);
  }
}

.left-side-image {
  animation: leftSideAnimationDesktop 10s ease-in-out infinite;
}

.right-side-image {
  animation: rightSideAnimationDesktop 10s ease-in-out infinite;
}

.stars-image {
  animation: starsAnimation 10s ease-in-out infinite;
}

.gradient-setup {
  background: radial-gradient(
      circle at left bottom,
      #0033666a 0%,
      transparent 30%
    ),
    radial-gradient(circle at right top, #ff70106d 0%, transparent 30%),
    #ffffff92;
  background: radial-gradient(circle at left top, #0033666a 0%, transparent 30%),
    radial-gradient(circle at right bottom, #ff70106d 0%, transparent 30%),
    #ffffff92;
}

@media (max-width: 768px) {
  .left-side-image,
  .right-side-image {
    width: 40vw;
    height: 40vw;
  }

  .left-side-image {
    left: -5vw;
    bottom: 5%;
    animation: leftSideAnimationMobile 10s ease-in-out infinite;
  }

  .right-side-image {
    right: -5vw;
    top: 5%;
    animation: rightSideAnimationMobile 10s ease-in-out infinite;
  }
}
/* Background Animation */
.gradient-setup {
  position: relative;
  animation: gradientAnimation 10s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  background-size: 200% 200%;
  transition: all 0.5s ease; /* Added smooth transition for other properties */
}

@keyframes gradientAnimation {
  40%,
  60% {
    background: radial-gradient(
        circle at left bottom,
        #00336657 0%,
        transparent 70%
      ),
      radial-gradient(circle at right top, #ff701055 0%, transparent 70%),
      #ffffff92;
  }
  0%,
  100% {
    background: radial-gradient(
        circle at left top,
        #00336657 0%,
        transparent 70%
      ),
      radial-gradient(circle at right bottom, #ff701055 0%, transparent 70%),
      #ffffff92;
  }
}
