@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}

@layer utilities {
  .ring-theme-color-navy-blue {
    --tw-ring-color: #001f3f;
  }
}

.Darker-Grotesque {
  font-family: 'Darker Grotesque', serif;
}

/* width */

::-webkit-scrollbar {
  width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
  background-color: rgb(231, 224, 224);
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(173, 177, 178);
  border-radius: 10px;
}

/* AI Powered Text Styles */
.ai-powered {
  display: inline-block;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-align: center;
  background-color: #003366;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #ff6600 50%, #003366 50%);
  background-position: 100% 0;
  animation: slide-animation 8s infinite;
}
@keyframes slide-animation {
  0% {
    background-position: 100% 0;
  }
  10% {
    background-position: 0% 0;
  }
  45% {
    background-position: 0% 0;
  }
  55% {
    background-position: 100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes leftSideAnimationDesktop {
  0%,
  100% {
    transform: translateY(0) scale(0.9) rotate(0deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  40%,
  60% {
    transform: translateY(-350px) scale(0.7) rotate(12deg);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}

@keyframes rightSideAnimationDesktop {
  0%,
  100% {
    transform: translateY(0) scale(0.9) rotate(0deg);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  40%,
  60% {
    transform: translateY(350px) scale(0.7) rotate(12deg);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
}

@keyframes leftSideAnimationMobile {
  0%,
  100% {
    transform: translateX(0) scale(0.9) rotate(0deg);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  40%,
  60% {
    transform: translateX(150%) scale(0.7) rotate(12deg);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}

@keyframes rightSideAnimationMobile {
  0%,
  100% {
    transform: translateX(0) scale(0.9) rotate(0deg);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  40%,
  60% {
    transform: translateX(-150%) scale(0.7) rotate(12deg);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
}

@keyframes starsAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  40%,
  60% {
    transform: scale(0.8);
  }
}

.left-side-image {
  animation: leftSideAnimationDesktop 10s ease-in-out infinite;
}

.right-side-image {
  animation: rightSideAnimationDesktop 10s ease-in-out infinite;
}

.stars-image {
  animation: starsAnimation 10s ease-in-out infinite;
}

.gradient-setup {
  background: radial-gradient(
      circle at left bottom,
      #0033666a 0%,
      transparent 30%
    ),
    radial-gradient(circle at right top, #ff70106d 0%, transparent 30%),
    #ffffff92;
  background: radial-gradient(circle at left top, #0033666a 0%, transparent 30%),
    radial-gradient(circle at right bottom, #ff70106d 0%, transparent 30%),
    #ffffff92;
}

@media (max-width: 768px) {
  .left-side-image,
  .right-side-image {
    width: 40vw;
    height: 40vw;
  }

  .left-side-image {
    left: -5vw;
    bottom: 5%;
    animation: leftSideAnimationMobile 10s ease-in-out infinite;
  }

  .right-side-image {
    right: -5vw;
    top: 5%;
    animation: rightSideAnimationMobile 10s ease-in-out infinite;
  }
}

/* 
.gradient-setup {
  position: relative;
  animation: gradientAnimation 10s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  background-size: 200% 200%;
  transition: all 0.5s ease; 
}

@keyframes gradientAnimation {
  40%,
  60% {
    background: radial-gradient(
        circle at left bottom,
        #00336657 0%,
        transparent 70%
      ),
      radial-gradient(circle at right top, #ff701055 0%, transparent 70%),
      #ffffff92;
  }
  0%,
  100% {
    background: radial-gradient(
        circle at left top,
        #00336657 0%,
        transparent 70%
      ),
      radial-gradient(circle at right bottom, #ff701055 0%, transparent 70%),
      #ffffff92;
  }
} */
/* Background Animation */
.gradient-setup {
  position: relative;
  animation: gradientAnimation 10s ease-in-out infinite; /* Adjusted easing for smoother transitions */
  background-size: 200% 200%;
  transition: all 0.8s ease; /* Smooth transition for other properties */
}

.Darker-Grotesque {
  font-family: 'Darker Grotesque',  serif;
}

/* animation */

/* Main container for the animation */

/* Container for the circle and droplets */
.circle-container1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}

/* Central 3D gradient circle */
.central-circle1 {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(135deg, #7241f7, #8df0e9, #fe8388, #ffbba8);
  background-size: 300% 300%;
  animation: gradient-shift1 4s ease infinite;
  box-shadow: 0 0 30px rgba(255, 166, 0, 0.5);
}

/* Gradient animation keyframes for the central circle */
@keyframes gradient-shift1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Droplet that emerges, splits into 3, and returns */
.droplet1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  animation: droplet-animation1 4s ease-in-out forwards;
}

/* Keyframes for droplet splitting and merging */
@keyframes droplet-animation1 {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
  30% {
    transform: scale(0.8) translate(0, 0); /* Shrink slightly before splitting */
  }
  50% {
    transform: scale(0.3) translate(-40%, -50%); /* Move and split */
  }
  60% {
    transform: scale(0.3) translate(0%, -65%); /* Second circle move */
  }
  70% {
    transform: scale(0.3) translate(40%, -50%); /* Third circle move */
  }
  90% {
    transform: scale(0.8) translate(0, 0); /* Circles merge back */
  }
  100% {
    transform: scale(1) translate(0, 0);
    opacity: 1; /* Return to original size in the center */
  }
}
@keyframes gradientAnimation {
  0% {
    background: radial-gradient(
        circle at left top,
        #00336657 0%,
        transparent 70%
      ),
      radial-gradient(circle at right bottom, #ff701055 0%, transparent 70%),
      #ffffff92;
  }
  25% {
    background: radial-gradient(
        circle at left center,
        #00336657 0%,
        transparent 70%
      ),
      radial-gradient(circle at right center, #ff701055 0%, transparent 70%),
      #ffffff92;
  }
  50% {
    background: radial-gradient(
        circle at left bottom,
        #00336657 0%,
        transparent 70%
      ),
      radial-gradient(circle at right top, #ff701055 0%, transparent 70%),
      #ffffff92;
  }
  75% {
    background: radial-gradient(
        circle at left center,
        #00336657 0%,
        transparent 70%
      ),
      radial-gradient(circle at right center, #ff701055 0%, transparent 70%),
      #ffffff92;
  }
  100% {
    background: radial-gradient(
        circle at left top,
        #00336657 0%,
        transparent 70%
      ),
      radial-gradient(circle at right bottom, #ff701055 0%, transparent 70%),
      #ffffff92;
  }
}

/* Container for rotating text */
.circle-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0; /* Hide default spacing */
  transform: rotate(0deg); /* Base rotation */
  animation: rotate 10s linear infinite;
}

.circle::before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 3px;
}

.circle span {
  position: absolute;
  display: inline-block;
  transform-origin: center;
  font-size: 14px;
  white-space: nowrap;
  transform: rotate(calc(var(--i) * 10deg));
  text-transform: uppercase;
  font-weight: 300;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.text-animated {
  display: inline-block;
  animation: typing 0.5s steps(30, end);
}

.cursor {
  display: inline-block;
  animation: blink 0.7s step-end infinite;
  color: inherit;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.message-bubble {
  position: relative;
  background: #626363; /* Light grey background */
  color: #f9f0f0;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14px;
  max-width: 200px;
}

.message-bubble::before {
  content: '';
  position: absolute;
  top: 10px; /* Aligns the arrow vertically with the bubble */
  left: -10px; /* Positions the arrow to the left of the bubble */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #626363 transparent transparent;
}

@keyframes appear {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  99% {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  100% {
    opacity: 1;
    width: auto;
    height: auto;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  display: flex;
  height: calc(100vh);
  align-items: center;
  justify-content: center;
}
.container .card {
  width: calc(50vw);
}

.chat-thread > *,
.chat-thread > * > .message {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0s forwards;
}

.chat-thread > *:nth-child(1):not(.message-reply) {
  animation-delay: 1s;
}

.chat-thread > *:nth-child(2):not(.message-reply) {
  animation-delay: 2s;
}

.chat-thread > *:nth-child(3):not(.message-reply) {
  animation-delay: 3s;
}

.chat-thread > *:nth-child(4):not(.message-reply) {
  animation-delay: 4s;
}

.chat-thread > *:nth-child(5):not(.message-reply) {
  animation-delay: 5s;
}

.chat-thread > *:nth-child(6):not(.message-reply) {
  animation-delay: 6s;
}

.chat-thread > *:nth-child(7):not(.message-reply) {
  animation-delay: 7s;
}

.chat-thread > *:nth-child(8):not(.message-reply) {
  animation-delay: 8s;
}

.chat-thread > *:nth-child(9):not(.message-reply) {
  animation-delay: 9s;
}

.chat-thread > *:nth-child(10):not(.message-reply) {
  animation-delay: 10s;
}

.chat-thread .message p {
  margin: 0;
  animation: 3s appear 0s forwards;
}

.chat-thread .message .typing-indicator {
  will-change: transform;
  display: flex;
  animation: 0s disappear 3s forwards;
}

.chat-thread .message .typing-indicator span {
  height: 10px;
  width: 10px;
  float: left;
  margin: 0 1px;
  background-color: #9e9ea1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.chat-thread .message .typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}

.chat-thread .message .typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}

.chat-thread .message .typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 1s;
}

.message {
  display: flex;
  margin: 1rem 0;
  width: 100%;
  background-color: #ecf0f1;
}

.message::after {
  content: '';
  position: absolute;
  left: 75px;
  border-left: 25px solid transparent;
  border-right: 10px solid transparent;
  border-top: 25px solid #ecf0f1;
}

.message + .message {
  margin-top: 0;
}

.message .avatar {
  width: 75px;
  height: 75px;
  background: url('http://lorempixel.com/75/75');
  margin-right: 20px;
  border-radius: 50%;
}

.message .message-content {
  display: flex;
  align-items: center;
  padding: 0.75em 1.5em;
  background: #ecf0f1;
  border-radius: 20px;
}

.message.message-reply {
  justify-content: flex-end;
}

.message.message-reply .avatar {
  margin: 0 0 0 20px;
}

.message.message-reply .message-content {
  float: right;
  background-color: #0076ff;
  color: #fff;
}

.message.message-reply .message-content p:before {
  content: '';
  position: absolute;
  left: auto;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #0076ff;
}

.chat-actions {
  text-align: center;
  align-items: center;
}

.chat-actions button {
  margin-top: 1rem;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-8px);
    opacity: 1;
  }
}

.dot {
  animation: bounce 1s ease-in-out infinite;
}

.dot.active {
  opacity: 1;
}

.initDiv {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.initDiv1 {
  animation: fadeOutAnimation2 ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation2 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
